%table
  %tr
    %th Date
    %th Reserved
    %th Attended
    %th Nursery No.
  - @meetings.each do |meeting|
    %tr
      %td= link_to meeting.date, meeting
      %td= meeting.members_reserved.count
      %td= meeting.members_attended.count
      %td= meeting.members_reserved.where(:nursery_needed => true).count